.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    /* with width: 100% we make the inm fit the size of the window */
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    /* makes the image visible */
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.489);
    color: red;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}