body {
    background-image: url(2023-11-03-00-03-28-triangular-pattern-5120x3200-13105.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* if we want the image to stay static when we scroll, we use this property */
    margin: 0;
    font-family: 'Cascadia Code';
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* 100% of the viewport height */
    height: 100vh;
    /* 100% of the viewport width */
    width: 100vw;
}

#clock {
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 77, 67);
    backdrop-filter: blur(7px);
    background-color: rgba(220, 20, 60, 0.221);
    width: 100%;

}